/* GLOBALS */
/*
lm-Widget,h1,h2,pre { background-color: peachpuff;}
*/
.cm-content {
 background-color: cornsilk;
}
.jp-RenderedHTMLCommon { background-color: aliceblue; },
.jp-RenderedHTMLCommon { background-color: green; },
.selected { background-color: green; }

/* Prevent the edit cell highlight box from getting clipped;
 * important so that it also works when cell is in edit mode*/
/*
div.cell.selected {
    border-left-width: 1px !important;
*/
}

