body {
    background-color: cadetblue;
}
.example {
    background-color: cornsilk;
}
.container {
    column-count: 3;
}
.block {
    background-color: peachpuff;
    break-inside: avoid;
    padding: 5% 2% 2% 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    border-color: black;
    border-bottom-style: ridge
    ;
}
pre {
    background-color: mintcream;
}