body {
    background-color: #ffeeee;
}
.example {
    background-color: cornsilk;
}
.container {
    column-count: 3;
}
.block {
    background-color: cornsilk;
    break-inside: avoid;
}
pre {
    background-color: mintcream;
}
