body {
    background-color: cadetblue;
}
a {
    background-color: peachpuff;
    font-size: x-large;
}
.example {
    background-color: peachpuff;
}
.container {
    column-count: 4;
}
.block {
    background-color: peachpuff;
    break-inside: avoid;
    padding: 5% 2% 2% 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    border-color: lab;
    border-bottom-style: ridge
    ;
}
pre {
    background-color: honeydew;
}