# Key packages used as part of the Level 3 course
# This should also serve as a handy illustration of different ways in which
# Python packages can be installed via 'pip'
aiohttp
altair
h5py
matplotlib
mypy
numba
opencv-python
pandas
polars
pytest
scikit-image
scikit-learn
sympy

# Nice-to-have
pipdeptree      # Inspect package dependency relationships in an environment
