<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tables</title>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
<style>
input {
    height: 4vh;
    font-size: x-large;
}
</style>
<span id="n1"></span>
&nbsp;x&nbsp;
<span id="n2"></span>
=
<input id="answer" type="text"/>
<br/>
<div id="message"></div>
<script>
function getAjaxData(url, fn) {
    $.ajax(
    {
        url: url,
        type: 'GET',
        contentType:'application/json',
        dataType:'json',
        success: function(data) {
        	fn(data);
        }
    });
}

function question(response) {
    $("#n1").html(`${response["n1"]}`);
    $("#n2").html(`${response["n2"]}`);
    $("#answer").val("");
    $("#message").html(`${response["message"]}`);
}

function sendData(answer) {
    $.ajax({
        url: '/answer',
        type: 'GET',
        data: {"n1":$("#n1").html(), "n2":$("#n2").html(), "result":answer},
        dataType: 'json'
    }).done(function(response) {
    	setTimeout(function(){
    		question(response);
    	}, 1000);
    });
}

$(document).on('keypress',function(e) {
    $("#message").html("");
	if(e.which == 13) {
		sendData($("#answer").val());
    }
    
});


$(document).ready(function() {
	$("#answer").css({ 'height': '4vh',
	                   'width': '4vw',
                       'font-size': 'x-large',
                       'padding-left': '2%'});
    $("body").css({'font-size': 'x-large'})
	getAjaxData("/question", question);
});

</script>
</body>
</html>
